
* {
    font-family: 'Red Rose', cursive;
}


.rectangle {
    width: 800px;
    height: 400px; 
    background: #DFDCDB;
    position: absolute; 
    left: 230px; 
    top: 240px; 
    box-shadow: 5px 10px 50px #6FB2C6;
    text-align: center;
    font-size: 35px;
}

.score-rectangle {
    width: 410px;
    height: 300px;
    background: #DFDCDB;
    position: absolute;
    left: 1300px;
    top: 240px; 
    text-align: center;
    box-shadow: 5px 10px 50px #6FB2C6;
    

}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 35px;
    color: #222;  
}

.player-current-score {
    line-height: 200px;
    text-align: center;
    font-size: 100px;

}


#pic-0 {
    width: 120px; 
    position: absolute; 
    left: 30px;
    top: 270px; 
    
}
#pic-1 {
    width: 120px; 
    position: absolute; 
    left: 230px;
    top: 270px; 
    
}

#pic-2 {
    width: 120px; 
    position: absolute; 
    left: 430px;
    top: 270px; 
    
}

#pic-3 {
    width: 120px; 
    position: absolute; 
    left: 630px;
    top: 270px; 
    
}

.try-again {
    position: absolute;
    left: 300px;
    top: 170px; 
    color: red; 
    display: none; 

    
}

.plus-one {
    text-align: start;
    font-size: 50px; 
    color: green; 
    display: none; 
}

.correct {
    position: absolute;
    left: 300px;
    top: 170px; 
    color: green; 
    display: none; 
}

.title-question {
    line-height: 155px;
}
